
<div class="top-nav">
    <h1 class="title">Billing System</h1>
</div>

<div class="flex-container">
    <div class="flex-item inside-form">
        <form action="/add-data" method="POST"> <!-- form for user to enter purchase data -->
            <label>Product Name</label>
            <br>
            <input autofocus autocomplete="off" type="text" name="productName" id="productname" placeholder="Enter product name" required>
            <br>
            <label>Date Of Purchase</label>
            <input autocomplete="off" type="date" id="purchasedate" name="purchaseDate" required>
            <br>
            <label>Product Cost</label>
            <input autocomplete="off" type="number" id="cost" name="cost" placeholder="Enter cost for single" required>
            <br>
            <label>Product Quantity</label>
            <input autocomplete="off" type="number" id="quantity" name="quantity" placeholder="Enter quantity" required>
            <br>
            <label>Product Category</label>
            <br>
            <select id="category" name="category">
                <option disabled selected>Choose Category</option>
                <option value="food">Food</option>
                <option value="electronics">Electronics</option>
                <option value="furniture">Furniture</option>
                <option value="clothing">Clothing</option>
                <option value="kitchen">Kitchen</option>
                <option value="living-bedroom">Living/Bedroom space</option>
                <option value="other">Other</option>
            </select>
            <br>
            <label>Product Description</label>
            <br>
            <input autocomplete="off" type="text" id="description" name="description" placeholder="Enter any product description" required>
            <input type="hidden" value="{{id}}" name="githubId">
            <br>
            <button type="submit" id="submit" class="submit-btn">SUBMIT</button>
            <button type="reset" class="submit-btn">RESET</button>
        </form>
    </div>
    <div class="flex-item display-results">
        <h1>Purchase Data (Data for {{username}})</h1>
        {{#if billingdata }}
            <table id="my-table" class="table-info"> <!-- creating a table for purchase data-->
                <thead> <!-- for table heading columns, 1st row -->
                <tr>
                    <th>Product Details</th>
                    <th>Final Price</th>
                    <th>Modify</th>
                </tr>
                </thead>
                <tbody id='table-body'> <!-- for table body with all rows/cells filled with data -->
                    {{#each billingdata}}
                        <tr>
                            <td>
                                <ul>
                                    <li>{{productName}}</li>
                                    <li>{{purchaseDate}}</li>
                                    <li>{{cost}}</li>
                                    <li>{{quantity}}</li>
                                    <li>{{category}}</li>
                                    <li>{{description}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>{{totalPrice}}</li>
                                    <li>{{discount}}</li>
                                    <li>{{afterDiscount}}</li>
                                </ul>
                            </td>
                            <td>
                                <button onClick="deleteRow(this)" data-index = "{{_id}}" id="deleteData" class="submit-btn">DELETE</button>
                                <button type="button" onclick="openPopup(); displayRow(this)" class="show-popup submit-btn" data-updindex = "{{_id}}" data-updname = "{{productName}}"
                                        data-dop = "{{purchaseDate}}" data-cost = "{{cost}}" data-quantity = "{{quantity}}"
                                        data-category = "{{category}}" data-desc = "{{description}}" data-github = "{{githubId}}">UPDATE</button>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{else}}
            <p>You have not created any purchase data</p>
        {{/if}}


    </div>
</div>

<div class="popup" id="popup">
    <h2>Form Update</h2>
    <form action="/update_data", method="POST"> <!-- form for user to update purchase data -->
        <input type="hidden" name="_method" value="PUT">
        <label>Product Name</label>
        <br>
        <input autocomplete="off" type="text" id="updproductname" name="productName" placeholder="Enter product name" required>
        <br>
        <label>Date Of Purchase</label>
        <input autocomplete="off" type="date" id="updpurchasedate" name="purchaseDate" required>
        <br>
        <label>Product Cost</label>
        <input autocomplete="off" type="number" id="updcost" name="cost" placeholder="Enter cost for single" required>
        <br>
        <label>Product Quantity</label>
        <input autocomplete="off" type="number" id="updquantity" name="quantity" placeholder="Enter quantity" required>
        <br>
        <label>Product Category</label>
        <br>
        <select id="updcategory" name="category">
            <option disabled selected>Choose Category</option>
            <option value="food">Food</option>
            <option value="electronics">Electronics</option>
            <option value="furniture">Furniture</option>
            <option value="clothing">Clothing</option>
            <option value="kitchen">Kitchen</option>
            <option value="living-bedroom">Living/Bedroom space</option>
            <option value="other">Other</option>
        </select>
        <br>
        <label>Product Description</label>
        <br>
        <input autocomplete="off" type="text" id="upddescription" name="description" placeholder="Enter any product description" required>
        <br>
        <input type="hidden" id="githubid" name="githubId" readonly>
        <input type="hidden" id="updindex" name="_id" readonly>
        <button type="submit" id="updsubmit" class="submit-btn" onclick="updateRow(); closePopup()">UPDATE</button>
        <button id="reset" type="reset" class="submit-btn">RESET</button>
    </form>
    <button class="submit-btn" type="button" onclick="closePopup()">CANCEL</button>
</div>
